.containerSearch {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-banner .container-searching .container-btn-search button{
    height: 80%;
    border: none;
    background: #00c194;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    border-radius: 5px;
    cursor: pointer;
}

